*{
    background-color: black;
}

body{
    background-color: black;
    position: relative;
}

Header{
    color: rgb(73, 166, 216); 
    font-size:50px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-style: italic;
    padding: 20px;
}

h2::after{
    content: "TOP";
    background-color:yellow;
    padding:1px;
    right: 0;
    top: 25px;
    display: inline-block;
    font-size: 10px;
    position: absolute;

}

bla{
    float: left;
    margin-bottom: 10px;
}

aside{
    border-top: 5px teal solid;
    border-bottom:5px teal solid;
    font-size: xx-large;
    padding: 50px 15px;
    width: 500px;
    background-color: rgb(25,25,25);
}

/* h1{
    float: left;
}

max{
    float: right;
} */

secret{
    text-align: center;
    
}

description{ 
    font-size: small;
    font-weight: 100;
    text-decoration: dashed;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    margin-left: 20px;
}


.clear{
    clear: left;
}

dev{
    width: 100px;
    margin:0 auto;
}

h2{
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(5, 151, 235, 0.836);
}

list{
    color: teal; 
    font-size: large;
}

impress{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
}

header p{
    font-style: italic;
    font-weight: bold;
}

header{
    outline-color: rgb(230, 166, 143);
    border-top: 20px solid #15d4cae8;
        background-color: black;
        left: 50px;
        border-bottom: 5px rgb(0, 0, 0) solid;
}



h2{
    font-family: sans-serif;
    text-emphasis-color: white;
    color: grey;
    font-weight: bolder;
}

starter{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-stretch: expanded;
}

a {
    color: rgb(255, 94, 94);
    display: inline-block;
    margin-right: 60px;
    margin-bottom: auto;
    margin-top: 10px;
  }
  
  a:hover {
    color: rgb(9, 226, 161);    
  }
  
  a:active {
    color: rgb(10, 238, 255);
    text-decoration: none;
  }



big_blast{
    color: rgba(5, 151, 235, 0.836);
    font-size: xx-large;
}

.post-img{
    padding: 100cm;
    width: 100;
    height: 100;
}

button{
    color: red;
    border-bottom:3px teal solid;
    border-top:3px teal solid;
    border-left:3px teal solid;
    border-right:3px teal solid;
    text-align: right;
    font-size: 32px;
    cursor: pointer;
    position: absolute;
    float: right;
    /* left: 0;
    top: 0; 
    bottom: 0;
    right: 0;*/
}

button:hover{
    color:white;
    border-bottom:3px white solid;
    border-top:3px white solid;
    border-left:3px white solid;
    border-right:3px white solid;
}

button:active{
     color: rgb(9, 226, 161);
    border-bottom:3px rgb(9, 226, 161);
    border-top:3px rgb(9, 226, 161);
    border-left:3px rgb(9, 226, 161);
    border-right:3px rgb(9, 226, 161);
}

article{
    width: 825px;
    float: left;
}

aside{
    float: right;
    right: 0;
    top: 0;
    width: 375px;
    color: white;
}

footer{
    clear: both;
}

max{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

super{
    font-size: 45px;
}

blabla{
    font-size: 45px;
}

ash{
    display: flex;
    align-items: centers;
}

row{
    flex-grow: 0;
    flex-shrink: 0;
}

/* .container{
    display: grid;
    grid-template-columns: 900px 300px;
    grid-column-gap: 75px;
}

.main-header{
    /* grid-column: 1/span 2; */
