*{
    background-color: rgba(255, 255, 255, );
}

Header{
    

    color: #15d4cae8; 
    font-size:50px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-style: italic;
}

description{ 
    font-size: small;
    font-weight: 100;
    text-decoration: dashed;
}

h2{
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(5, 151, 235, 0.836);
}

list{
    color: rgba(245, 50, 50, 0.906); 
}

impress{
    color: rgba(129, 34, 238, 0.835);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
}

header p{
    font-style: italic;
    font-weight: bold;
}

header{
    outline-color: rgb(230, 166, 143);
    border-top: 30px solid #15d4cae8;
        background-color: black;
        top: 50px;
        left: 50px;
}

body{
    background-color:rgb(0,0,0);
}

h2{
    font-family: sans-serif;
    text-emphasis-color: white;
    color: rgb(95,105,115,0.999);
    font-weight: bolder;
}

starter{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-stretch: expanded;
}

a:link{
    color: aquamarine;
}