/* colouring
primary colour: #229be6

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter",sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}


.heading-primary{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    color: #333;
    letter-spacing: -0.5px;
}

.hero-description{
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.section-hero{
    background-color: #d3ebfa;
    padding: 9.6rem;
}

.hero{
    max-width: 100rem ;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.hero-img{
    width: 100%;
}

.btn:link,.btn:visited{
    background-color: #229be6;
    color: #000;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

.btn--full:link,.btn--full:visited{
    background-color: #229be6;
    
}

.btn--outline:link,.btn--full:visited{
    background-color: #91cdf3;
    margin-left: 2rem !important;
}

.btn--full:hover,.btn--full:active,.btn--full:link{
    background-color: #a7d7f5;
    transition: all 0.7s;
}

.btn--outline:hover,.btn--full:active{
    background-color: #64b9ee;
    transition: all 0.7s;
}

.delivered-meals{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-imgs img{
    height: 3.8rem;
    border-radius: 50%;
    margin-right: -1rem;
    border: 3px solid #d3ebfa;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span{
    color: #1f8ccf;
    font-weight: 700;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d3ebfa;
    height: 2.6rem;
    padding: 0;
}

.logo{
    height: 2.2rem;
    margin-left: 75px;
    margin-top: 15px;
}

.main-nav{
    margin-right: 50px;
}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 30px;
    transition: all 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active{
    color: #1f8ccf;
}

.nav-cta{
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    background-color: #229be6;
    color: #555;
    letter-spacing: 0px;
}

.nav-cta:hover{
    transition: all 1s;
    color: #333;
    background-color: #1f8ccf;
}

.nav-2{
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    background-color: #229be6;
    color: #555;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 0px;
}

.nav-2:hover{
    transition: all 1s;
    color: #333;
    background-color: #1f8ccf;
}

.nav-3{
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    background-color: #229be6;
    color: #555;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 0px;
}

.nav-3:hover{
    transition: all 1s;
    color: #333;
    background-color: #1f8ccf;
}

.nav-4{
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    background-color: #229be6;
    color: #555;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 0px;
}

.nav-4:hover{
    transition: all 1s;
    color: #333;
    background-color: #1f8ccf;
}

.nav-5{
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    background-color: #229be6;
    color: #555;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 0px;
}

.nav-5:hover{
    transition: all 1s;
    color: #333;
    background-color: #1f8ccf;
}

.section-how{
    padding: 9.6rem 0;
}


/* *******************important*************** */




.grid{
    display: grid;
    gap:9.6rem;
}

.grid--2--cols{
    grid-template-columns: 1fr 1fr;
}

.heading-tirshury{
    font-size: 3rem;
    font-weight: bolder;
}

.heading-secondary{
    font-size: 2.7rem;
    color: #6f6f6f;
}

.mr-img{
    margin-top: 7.2rem;
}

.step-img-box::before{
    content: "";
    display: block;
    width: 6rem;
    padding-bottom: 6rem;
    background-color: #d3ebfa;
}

.step-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheding{
    display: block;
    color: #1f8ccf;
    font-weight: bolder;
    margin-top: 0.5rem;
}

.super{
    margin-top: 8rem;
}

.step-number{
    font-size: 5rem;
    color: rgb(223, 223, 223);
    font-weight: bolder;
}

.step-description{
    font-size: 2.5rem;
    margin-top: 2.5rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-weight: 500;
}


.container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

/* **************bla******************** */

.step-img{
    width: 30%;
}


