@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}




body{
    background-color: dodgerblue;
    font-family:'Mlti',sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3{
    color: #fff;
    border: 20px 0 50px;
}

.container{
    width: 500px;
}

textarea{
    border: none;
    display: block;
    width: 100%;
    height: 100px;
    padding: 0 0 20px;
    font-size: 16px;
}

.tag{
    background-color: orange;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px ;
    display: inline-block;
}

.tag.highlight{
    background-color: rgb(255, 78, 78);
}