@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}




body{
    background-color: purple;
    color: #fff;
    font-family:'Mlti',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 580px;)
body{
    flex-direction: column;
}