@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
--line-border-fill: #3498db;
--line-border-empty: #e0e0e0;
}

*{
box-sizing: border-box;
}




body{
    background-color: lightbluee;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family:'Mlti',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

div{
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: goldenrod;
    color: white;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}