@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
box-sizing: border-box;
}




body{
    background-color: white;
    font-family:'oswald',sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

h3{
    margin-bottom: 0;
    text-align: center;
}

small{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart{
    color: red;
}

.loveMe{
    height: 900px;
    width: 100rem;
    background: url('https://source.unsplash.com/6lSBynPRaAQ')no-repeat center center/cover;
    margin: auto;
    position: relative;
    cursor: pointer;
    max-width: 100%;
}

.loveMe .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow{
    to{
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
}
    }

