@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*{
box-sizing: border-box;
margin: 0;
padding: 0;
}




body{
    font-family:'Mlti',sans-serif;
    color: #222;
    padding-bottom: 50px;
    font-size: 30px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.nav{
    position: fixed;
    background-color: rgb(244, 198, 83);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
} 

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a{
    color: #fff;
    text-decoration: none;
    padding: 6px 15px;
    transition: all 0.3s ease-in-out;
}

.container-content {
    padding: 60px 300px;
    background-image:url('/assets/image/mew.png');
    background-repeat: no-repeat;
    width: 1500px;
    height: 670px;
}

.container-2 {
    padding: 60px 300px;
    background-image:url('/assets/image/mega.avif');
    background-repeat: no-repeat;
    width: 1500px;
    height: 670px;
}

.container-3{
    padding: 60px 300px;
    background-image: url('/assets/image/water.jpg');
    background-repeat: no-repeat;
    width: 1500px;
    height: 670px;
}

.container-4{
    padding: 60px 300px;
    background-image: url('/assets/image/supastrikers.jpg');
    background-repeat: no-repeat;
    width: 1500px;
    height: 670px;
    align-items: right;
}

.nav.active{
    background-color: #fff;
}

.Section-4{
    font-size: 50px;
    color: #fff;
}

.picture-1{
    padding: 60px 300px;
    background-image: url('/assets/image/Ash_Greninja.png');
    background-repeat: no-repeat;
    width: 1500px;
    height: 670px;
}

.picture-2{
    padding: 60px 300px;
    background-image: url('/assets/image/supa.jpg');
    background-repeat: no-repeat;
    width: 1500px;
    height: 670px;
}

.nav.active a{
    color: #000;
}

.nav.active .container{
    padding: 2000px 0;
}

.nav a.current, .nav a:hover{
    color: darkturquoise;
}

.logo {
    background-color: #222;
    width: 12pc;
    background-color: rgb(255, 196, 0);
}

.hero{
    background-image: url('/assets/image/ash-greninja.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.hero h1{
    font-size: 60px;
    margin: -20px 0 20px;
}

.hero p{
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2{
    font-size: 150%;
    margin: 10px 0;
}

.content p{
    color: #555;
    line-height: 2pc;
    letter-spacing: 1.5px;
}
:root{
    --primery--color: black;
    --secondry--color: white;
}

*{
    box-sizing: border-box;
}




body{
    background-color: var(--primery--color);
    font-family:'Mlti',sans-serif;
    margin: 0;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    border: 2px solid var(--primery--color);
}


main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--secondry--color);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}


.movie img{
    width: 100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primery--color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bolder;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.90s ease;
}

.movie:hover .overview{
    transform: translateY(0);
}
